<%= form_for(initiative) do |f| %>
  <% if initiative.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(initiative.errors.count, "error") %> prohibited this initiative from being saved:</h2>

      <ul>
      <% initiative.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :institution %>
    <%= f.text_field :institution %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>
  
  <div class="field">
    <%= f.label :state %>
    <%= f.text_field :state %>
  </div>
  
  
  <div class="field">
    <%= f.label :responsible %>
    <%= f.text_field :responsible %>
  </div>

  <div class="field">
    <%= f.label :responsible_email %>
    <%= f.text_field :responsible_email %>
  </div>

  <div class="field">
    <%= f.label :responsible_phone %>
    <%= f.text_field :responsible_phone %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
