<p id="notice"><%= notice %></p>
<div class="container-fluid">
   <h2 id="lb_initiatives">Initiatives</h2>
   <% if admin_signed_in? %>
   	<span id="btn_logout" class="btn btn-primary"><%= link_to 'Log out', destroy_admin_session_url, method: :delete %></span>
   <% else %>
   	<span id="btn_logout" class="btn btn-primary"><%= link_to 'Log in', new_admin_session_url, method: :get %></span>
   <% end %>
   <div id="initiative_view_panel" class="table-responsive">
   <table class="table table-hover">
     <thead>
       <tr>
         <th>Name</th>
         <th>Institution</th>
         <th>Address</th>
         <th>City</th>
         <th>State</th>
         <th>Responsible</th>
         <th>Responsible email</th>
         <th>Responsible phone</th>
         <th class="latitude">Latitude</th>
         <th class="longitude">Longitude</th>
         <th colspan="3"></th>
       </tr>
     </thead>

     <tbody id="initiatives">
       <% @initiatives.each do |initiative| %>
         <tr>
           <td class="ini_name"><%= initiative.name %></td>
           <td class="ini_instituition"><%= initiative.institution %></td>
           <td class="ini_address"><%= initiative.address %></td>
           <td class="ini_city"><%= initiative.city %></td>
           <td class="ini_state"><%= initiative.state %></td>
           <td class="ini_res"><%= initiative.responsible %></td>
           <td class="ini_res_email"><%= initiative.responsible_email %></td>
           <td class="ini_res_phone"><%= initiative.responsible_phone %></td>
           <td class="latitude"><%= initiative.latitude %></td>
           <td class="longitude"><%= initiative.longitude %></td>
           <td><%= link_to 'Show', initiative %></td>
           <td><%= link_to 'Edit', edit_initiative_path(initiative) %></td>
           <td><%= link_to 'Destroy', initiative, method: :delete, data: { confirm: 'Are you sure?' } %></td>
         </tr>
       <% end %>
     </tbody>
   </table>
   <%= link_to 'Create New Initiative', new_initiative_path %>
   </div>
</div>
<div id="mapcontainer"></div>
