<%= stylesheet_link_tag "main_page" %>
<div class="container-fluid">
    <h2 id="main_title">Smart Cities Initiatives</h2>
    <form id="search_initiative" action="/filter" method="GET" class="search_container container-fluid">
      <input type="text" name="query" id="txt_user_query" class="form-control" placeholder="Search by Project name, Institution, City or Responsible Person" />
      <input id="btn_search" class="btn btn-primary" type="submit" value="Search " />
    </form>
</div>
<div id="mapcontainer"></div>
