<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @initiative.name %>
</p>

<p>
  <strong>Institution:</strong>
  <%= @initiative.institution %>
</p>

<p>
  <strong>Address:</strong>
  <%= @initiative.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @initiative.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @initiative.state %>
</p>

<p>
  <strong>Responsible:</strong>
  <%= @initiative.responsible %>
</p>

<p>
  <strong>Responsible email:</strong>
  <%= @initiative.responsible_email %>
</p>

<p>
  <strong>Responsible phone:</strong>
  <%= @initiative.responsible_phone %>
</p>

<%= link_to 'Edit', edit_initiative_path(@initiative) %> |
<%= link_to 'Back', initiatives_path, method: :get %>
