// Place all the styles related to the Initiatives controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#initiative_view_panel{
  overflow: scroll;
  height: 200px;
}

#btn_logout {
  float: right;
}

#btn_logout a{
  float: right;
  color: white !important;
}

#btn_logout a:hover{
  background-color: #0069d9;
}

h2#lb_initiatives{
  float: left;
}

.latitude, .longitude{
    display: none;
}
#mapcontainer{
  height: 400px;
  clear: both;
}
