// Place all the styles related to the Initiatives controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*---main page----*/

#initiative_view_panel{
  
}
h2{
    text-align: center;
    font-variant: small-caps;
    font-weight: bold;
    font-style: italic;
    border: 3px solid;
    border-color: #0069d9;
	border-radius: 10px;
    margin: 3px 0;
}

.search_container{
   z-index: 1000;
   margin-top: 20px;
   margin-left: 30px;
   position: absolute; 
}

#mapcontainer{
  height: 800px;
  
}

#txt_user_query{
   width: 50%;
   min-width: 300px;
   float: left;
}

body{
   margin: 0px;
   overflow: hidden;
}

.btn{cursor:pointer;}
